@font-face {
    font-family: 'lifecraft';
    src:    url('../fonts/LifeCraft_Font.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

@font-face {
    font-family: 'folkard';
    src:    url('../fonts/folkard_.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

@font-face {
    font-family: 'morpheus';
    src:    url('../fonts/MORPHEUS.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

body{
    margin: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'lifecraft', Arial, Helvetica, sans-serif;
    overflow: hidden; 
    background-image: url('../assets/WebImages/sunnyforestway.jpg');
    background-position: center;
    background-size: cover;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.title-canvas-container {
    margin-top: -112px;
}

#canvasContainer {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 3.2px solid rgb(4, 30, 5);
    border-radius: 12px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;;
}

canvas {
    background-color: black;
    position: relative;
    border-radius: 8px;
}

#fullscreenContainer {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.title {
    display: block;
    font-size: 96px;
    margin-bottom: 24px;
    text-align: center;
    color: rgba(210, 255, 74, 0.902);
    word-spacing: 24px;
    letter-spacing: 12px;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
}

.fullscreen-icon{
    margin-top: 6px;
    width: 32px;
    height: 32px;
}

.fullscreen-button-container{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightTouchButtons {
    display: none;
}

.leftTouchButtons{
    display: none;
}

.landingScreen {
    background-image: url(../assets/WebImages/forest-orc-castle.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.landingHeroContent{
    display: flex;
    flex-direction: column;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    gap: 80px;
    opacity: 1;

}

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    display: flex;
    justify-content: center;
  }
  
  .btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  
  .btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }

  .description-btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  
  .description-btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }
  
  .btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: rgb(193,235,70);
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    font-size: 32px;
    box-sizing: border-box;
    padding: 24px;
    margin: 0px;
    text-shadow: 1px 1px 6px rgb(34, 255, 0);
    border-radius: 4px;
    box-shadow: rgb(222, 255, 121) 0px 0px 15px;
    font-family: 'morpheus', Arial, Helvetica, sans-serif;
    letter-spacing: 12px;
    padding-left: 42px;
    width: 100%;
    white-space: nowrap;
  }
  
  .btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: rgb(193,235,70);
    font-size: 32px;
    box-sizing: border-box;
    padding: 24px;
    text-shadow: 1px 1px 6px rgb(34, 255, 0);
    margin: 0px;
    border-radius: 4px;
    display: block;
    transition: 0.5s;
    position: relative;
    background: rgba(37, 37, 36, 0.473);
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    box-shadow: rgb(222, 255, 121) 0px 0px 15px;
    font-family: 'morpheus', Arial, Helvetica, sans-serif;
    letter-spacing: 16px;
    width: 100%;
    text-align: center;
    padding-left: 42px;
    white-space: nowrap;
  }

  .landingTitle{
    font-size: 160px;
    margin-top: 40px;
    display: block;
    margin-bottom: 8px;
    text-align: center;
    color: rgba(210, 255, 74, 0.902);
    word-spacing: 24px;
    letter-spacing: 12px;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
  }

  .landingPlayButtonContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    background: rgba(37, 37, 36, 0.858);
    border-radius: 4px;
  }

  .landingButtonsContainer{
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .controlsPopUp {
    width: 80vw;
    height: 75vh;
    display: flex; /* Zentriere den Inhalt des Containers */
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
    position: relative;
}

.desktopControlsPopUp{
    width: 80vw;
    max-width: 800px;
    height: 75vh;
    display: flex; /* Zentriere den Inhalt des Containers */
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
    position: relative;
}

.noticePopUp{
    width: 80vw;
    height: 32vh;
    display: flex; /* Zentriere den Inhalt des Containers */
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
    position: relative;
}

.horizontalParchment{
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 900px;
    max-height: 700px;
}

.adviceSentence{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#greyBackground{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

#popUp {
    z-index: 3;
    position: absolute;
    right: -100%;
    top: 50%; 
    transform: translate(-50%, -50%);
}

.parchmentTitle{
    font-size: clamp(32px, 4vw, 64px);
    font-family: 'Morpheus', Arial, Helvetica, sans-serif;
    color: #251e16;
    margin: 0px;
    width: 60vw;
    padding-bottom: 16px;
}

.parchmentText{
    font-size: clamp(20px, 4vw, 24px);
    font-family: 'Morpheus', Arial, Helvetica, sans-serif;
    color: #251e16;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 8px;
    flex-direction: row;
    gap: 8px;
    white-space: nowrap;
}

.parchmentSubtitle{
    font-size: clamp(20px, 2.6vw, 24px);
    font-family: 'Morpheus', Arial, Helvetica, sans-serif;
    color: #251e16;
    display: flex;
    margin: 8px;
    text-align: center;
}

.explainIntro{
    width: auto;
    display: flex;
    justify-content: start;
    white-space: nowrap;
}

.explainAnswer{
    display: flex;
    justify-content: end;
    width: 100%;
    height: auto;
}

.verticalParchment{
    width: 100vw;
    height: 88vh;
    position: absolute;

}

.mobileControlDescriptionContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 16px 0px 16px;
    margin-top:  -24px;
    height: 85%;
}

.mobileControlDescriptionContainer p {
    margin: 0px;
}

.mobileWalkExplain-Image{
    position: relative;
    width: 50vw;
    border-radius: 4px;
    opacity: 0.9;
    margin-top: 8px;
    border: 0.8px solid #1e160ea0;
}

.keyboardDescriptionContainer{
    width: 40%;
    max-width: 400px;
    gap: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.crossSVG{
    border-radius: 100px;
    background-color: rgba(209, 196, 171, 0.53);
    box-shadow:  rgba(0, 0, 0, 0.014) 0px 0px 15px;
    border: 1px solid rgba(50, 39, 25, 0.553);
    width: 40px;
    height: 40px;
    padding: 12px;
    position: absolute;
    top: 2%;
    right: 3.5%;
    z-index: 1;
}

.crossSVG:hover {
    cursor: pointer;
}

.storyParchment{
    width: 70vw;
    height: 90vh;
}

.storyPopUpContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.storyParagraph{
    font-size: 17px;
    margin: 4px 0px 4px 0px;
    font-family: 'morpheus';
    text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.447);    

}

.storyTitle{
    font-size: clamp(20px, 2.5vw, 32px);
    font-family: 'Morpheus', Arial, Helvetica, sans-serif;
    color: #251e16;
    margin: 0px 0px 16px 0px;
    text-align: 60vw;
}

.storyParchmentContainer {
    position: absolute;
    z-index: 1;
    word-spacing: 4px;
    width: 70%;
    height: 72vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.storyTextContainer{
    width: 80%;
    text-align: center;
}

.subStoryParagraph{
    width: 70%;
    text-align: center;
}

.subStoryParagraphContainer{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobileSecondDescriptionRow{
    display: flex;
}

.descriptionContainerSecondPage{
    gap: 16px;
    display: flex;
    flex-direction: column;
    width: 30vw;
}
    
.okayButton{
    background: #a38f7195;
    border: 0.8px solid rgba(37, 37, 36, 0.947);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 8px 16px 8px 16px;
    font-family: 'morpheus', Arial, Helvetica, sans-serif;
  }

  .okayButton:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    }

  .finisherPopUpContainer {
    height: 80vh;
    width: 80vw;
    background-image: url('../assets/WebImages/storyoldparchment.png');
    background-size: contain; /* Deckt den gesamten Container ab */
    background-position: center; /* Zentriert das Bild */
    background-repeat: no-repeat;
    position: relative; /* Ermöglicht das korrekte Stapeln der z-index-Werte */
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
    z-index: 0;
}


.finishButtonsContainer{
    padding-top: 40px;
    display: flex;
    gap: 24px;
}


.finisherParchmentContainer {
    position: relative;
    z-index: 1;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finisherTitle{
    display: block;
    font-family: 'morpheus', Arial, Helvetica, sans-serif;
    font-size: clamp(32px, 4vw, 80px);
    margin-bottom: 24px;
    margin-top: 0px;
    text-align: center;
    color: black;
    word-spacing: 16px;
    letter-spacing: 4px;
    text-shadow: 1.2px 1.2px 1.2px rgba(0, 0, 0, 0.5);
}

.lostColor{
    color: rgb(122, 0, 0);
}

.wonTitle{
    color: rgba(18, 104, 6, 0.525);
    font-size: clamp(24px, 2vw, 80px);
}


@media screen and (max-width: 1024px) {
    body {
        justify-content: unset;
        align-items: unset;
        flex-direction: unset;
        display: block;
    }

    .fullscreen-button-container{
        display: none !important;
    }

    .title-canvas-container {
    margin-top: 0px;
    }

    canvas {
        /* transform-origin: 0 0;
        transform: rotate(90deg) translate(0, -100%); */
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #canvasContainer{
        height: 100vh;
        width: 100vw;
        border: 0px;
    }

    .title {
        display: none;
    }

    .leftTouchButtons{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: block;
        display: flex;
    }

    
    .rightTouchButtons {
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: 16px;
        /* transform-origin: 0 0;
        transform: rotate(90deg) translate(0, -100%); */
        bottom: 3vw;
        right: 4vh;
        justify-content: end;
        width: 20%;
    }

    #touchLeft {
        width: 12vw;
        height: 100vh;
        /* background-color: black; */
        opacity: 0.6;
        position: relative;
        z-index: 3;
    }

    #touchRight {
        width: 24vw;
        height: 100vh;
        /* background-color: rgb(217, 217, 217); */
        opacity: 0.5;
        position: relative;
        z-index: 3;
    }

    .touchQandSpaceContainer{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .buttonWrapper {
        width: 8vw;
        height: 14vh;
        position: relative;
        display: inline-block;
        border-radius: 40px;
        border: 1px solid #1e160e; /* Optional border */
        overflow: hidden; /* Hide overflow to ensure the shadow is visible */
        transition: box-shadow 0.2s ease;
    }
    
    .buttonWrapper::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    
        transform: scale(0.95); /* Optional: Simulate a pressed effect */
    
        /* pointer-events: none; Ensure the pseudo-element does not interfere with button clicks */
    }
    
    .joystickButton {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 12px;
    }
    
    .buttonWrapper:active::after {
        box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

    .landingTitle{
    font-size: clamp(96px, 3.6vw, 160px);
    }

    .btn-flip:after,
    .btn-flip:before {
    letter-spacing: 8px;
    padding: 8px 32px 8px 36px;
    font-size: clamp(20px, 2vw, 32px);
    }

    .landingPlayButtonContainer{
    margin-bottom: 16px;
    }

    .descriptionContainerSecondPage{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        width: 80%;
    }

    .mobileSecondDescriptionRow{
        width: 50%;
    }
}

@media screen and (orientation: portrait)  {
    .adviceSentence{
    gap: 0px;
    }

    .landingButtonsContainer{
        gap: 32px;
    }

    .landingHeroContent{
        gap: 40px;
    }

    .mobileControlDescriptionContainer{
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
    }

    .description-btn-flip-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        text-align: center;
        bottom: 0;
        position: absolute;

    }

    .description-btn-flip {
        opacity: 1;
        outline: 0;
        color: #fff;
        line-height: 36px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        width: 130px;
        height: 40px;
        position: relative;
    }

    .description-btn-flip:after,
    .description-btn-flip:before {
        letter-spacing: 4px;
        padding: 0px 24px 0px 30px;
        font-size: 16px;
        width: fit-content;
        text-align: center;
    }
    
    .description-btn-flip:after {
        top: 0;
        left: 0;
        opacity: 0.88;
        color: rgb(0, 0, 0);
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #625c3d61;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        font-size: 16px;
        box-sizing: border-box;
        margin: 0px;
        border-radius: 4px;
        border: 0.8px solid rgba(37, 37, 36, 0.815);
        box-shadow: rgba(33, 33, 33, 0.352) 0px 0px 15px;
        font-family: 'morpheus', Arial, Helvetica, sans-serif;
        white-space: nowrap;
    }
    
    .description-btn-flip:before {
        top: 0;
        left: 0;
        transform: translate(-50%, 0%);
        opacity: 0.88;
        color: rgb(0, 0, 0);
        font-size: 16px;
        box-sizing: border-box;
        text-shadow: rgb(222, 255, 121) 0px 0px 15px;
        margin: 0px;
        border-radius: 4px;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #625c3d61;
        border: 0.8px solid rgba(37, 37, 36, 0.815);
        box-shadow: rgba(33, 33, 33, 0.352) 0px 0px 15px;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
        font-family: 'morpheus', Arial, Helvetica, sans-serif;
        white-space: nowrap;
    }

    .descriptionContainerSecondPage{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        width: 80%;
    }

    .descriptionAndButtonContainer{
        width: 100%;
        gap: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobileSecondDescriptionRow{
        width: 100%;
        justify-content: space-between;
    }

    
    .explainImg{
        width: 40px;
        height: 40px;
    }

    .centerDescriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .explainImgContainer {
        width: 400px;
        display: flex;
        justify-content: end;
    }
    
    .parchmentTitle{
        width: auto;
    }

    .descriptionAndImageContainer{
        gap: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .crossSVG{
    right: 0px;
    }
}

/* Querformat Mobile */
@media screen and (orientation: landscape)  {

    .landingPlayButtonContainer {
        margin-bottom: 16px;
        background: rgba(37, 37, 36, 0.858);
    }

    .landingButtonsContainer {
        padding-top: 48px;
        gap: 24px;
    }

    .landingHeroContent {
        gap: 4%;
        flex-direction: row;
    }

    .noticePopUp{
        width: 60vw;
        height: 80vh;
    }

    .horizontalParchment{
        width: 88vw;
        height: 88vh;
        position: absolute;
    }

    .keyboardDescriptionContainer{
        width: 40%;
        gap: 6%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .parchmentTitle{
        font-size: clamp(32px, 4vw, 64px);
        padding-bottom: 4px;
    }
    
    .parchmentText{
        font-size: clamp(20px, 2vw, 24px);
    }
    
    .mobileControlDescriptionContainer{
        gap: 16px;
    }
    
    .mobileWalkExplain-Image{
        width: 24vw;
    }

    .descriptionContainer{
        display: flex;
        flex-direction: column;
        gap: 16px;
        opacity: 1;
    }

    .descriptionAndImageContainer{
        display: flex;
        gap: 24px;
        padding-top: 16px;
        flex-direction: row;
    }

    .descriptionAndButtonContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        width: 100%;
        height: 100%;
    }

    .description-btn-flip:after,
    .description-btn-flip:before {
        letter-spacing: 4px;
        padding: 0px 24px 0px 30px;
        font-size: 16px;
        width: fit-content;
        text-align: center;
    }
    
    .description-btn-flip:after {
        top: 0;
        left: 0;
        opacity: 0.88;
        color: rgb(0, 0, 0);
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #625c3d61;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        font-size: 16px;
        box-sizing: border-box;
        margin: 0px;
        border-radius: 4px;
        border: 0.8px solid rgba(37, 37, 36, 0.815);
        box-shadow: rgba(33, 33, 33, 0.352) 0px 0px 15px;
        font-family: 'morpheus', Arial, Helvetica, sans-serif;
        white-space: nowrap;
    }
    
    .description-btn-flip:before {
        top: 0;
        left: 0;
        transform: translate(-50%, 0%);
        opacity: 0.88;
        color: rgb(0, 0, 0);
        font-size: 16px;
        box-sizing: border-box;
        text-shadow: rgb(222, 255, 121) 0px 0px 15px;
        margin: 0px;
        border-radius: 4px;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #625c3d61;
        border: 0.8px solid rgba(37, 37, 36, 0.815);
        box-shadow: rgba(33, 33, 33, 0.352) 0px 0px 15px;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
        font-family: 'morpheus', Arial, Helvetica, sans-serif;
        white-space: nowrap;
    }
    
    .mobileWalkExplain-Image {
        padding: 0px;
    }
    
    .description-btn-flip-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        text-align: center;
        bottom: 0;
        position: absolute;
    }


    .description-btn-flip {
        opacity: 1;
        outline: 0;
        color: #fff;
        line-height: 36px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        width: 130px;
        height: 40px;
        position: relative;
    }

    .explainImg{
        width: 40px;
        height: 40px;
    }

    .centerDescriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
        gap: 16px;
    }

    .explainImgContainer {
        width: 400px;
        display: flex;
        justify-content: end;
    }
    
    .finishButtonsContainer{
        padding-top: 0px;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    .landingPlayButtonContainer {
        margin-bottom: 16px;
        background: rgba(37, 37, 36, 0.858);
    }

    .landingButtonsContainer {
        padding-top: 48px;
        gap: 48px;
    }

    .landingHeroContent {
        gap: 16%;
        flex-direction: column;
    }

    .crossSVG{
        top: 24px;
        right: 24px;
        padding: 16px;
    }

    .storyCrossSVG{
        top: 5%;
        right: 5%;
    }

    .storyParchment{
        max-width: 700px;
    }

    .storyParagraph{
        font-size: 20px;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1450px) {
    .btn-flip:before{
        font-size: 20px;
        padding: 16px;
        padding-left: 36px;
    }

    .btn-flip:after{
        font-size: 20px;
        padding: 16px;
        padding-left: 36px;
    }

    .landingTitle{
        font-size: 120px;
    }
}


@media screen and (max-width: 720px) {
    .storyParchment{
        width: 80vw;

    }

    .storyTextContainer{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .storyParchment{
        width: 90vw;
    }

    .storyTextContainer{
        width: 100%;
    }

    .storyParagraph{
    font-size: 16px;
    }
}



@keyframes slideIn {
    from {
        right: -100%; /* Start außerhalb des Bildschirms auf der rechten Seite */
        transform: translateY(-50%); /* Vertikale Zentrierung */
    }
    to {
        right: 50%; /* Positioniere es in der Mitte des Bildschirms */
        transform: translateX(50%) translateY(-50%); /* Zentriere es sowohl horizontal als auch vertikal */
    }
}

@keyframes slideOut {
    from {
        right: 50%; /* Start an der zentrierten Position */
        transform: translateX(50%) translateY(-50%); /* Zentriere es */
    }
    to {
        right: -100%; /* Bewege es nach außerhalb des Bildschirms */
        transform: translateY(-50%); /* Vertikale Zentrierung */
    }
}

@keyframes fadeOut {
    from {

        opacity: 0.3;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}

@keyframes fullFadeOut {
    from {

        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fullFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* scrollbar */
.storyParchmentContainer{
    background-color: #f3f4eb00;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #7c6f4373;
    cursor: pointer;
}
::-webkit-scrollbar-thumb{
    cursor: pointer;
    background-color: #9a8952;
    border-radius: 50px;
    box-shadow:0px 0px 6px 2px rgba(0, 0, 0, 0.5) inset;
}

/* scrollbar */